export DIRENV_WARN_TIMEOUT=20s
eval "$(devenv direnvrc)"
use devenv

PATH_add .devenv/profile/bin
PATH_add .devenv/state/venv/bin

export DJANGO_SETTINGS_MODULE="ärdetdags.conf.settings.development"
export DATABASE_URL="postgres:///ärdetdags"
export PYTHONPATH=.

dotenv_if_exists
