.flipdown {
    width: 100%;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform-origin: center;
}

.flipdown .rotor-group .rotor-group-heading::before {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #4F4F4F;
}

.hide-cursor {
    cursor: none;
}

.flipdown .rotor-group {
    flex: 0 0 auto !important;
}

@media (max-width: 900px) {
    .flipdown {
        transform: scale(0.9);
    }
}

@media (max-width: 700px) {
    .flipdown {
        transform: scale(0.8);
    }
}

@media (max-width: 500px) {
    .flipdown {
        transform: scale(0.8);
    }
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--pico-block-spacing-vertical);

    &>header,
    &>main {
        padding-block: 0;
    }

    &>header {
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: var(--pico-background-color);
    }

    &>main {
        --countdown-min-width: 29rem;
        --countdown-max-height: 14rem;

        display: grid;
        grid-template-rows: var(--countdown-max-height);
        grid-template-columns: repeat(auto-fit, minmax(var(--countdown-min-width), 1fr));
        gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
        align-content: center;
        justify-items: center;

        .countdown {
            max-height: var(--countdown-max-height);
            max-width: 800px;
            min-width: var(--countdown-min-width);
            margin-bottom: 0;
        }
    }
}

.lepp-container {
    display: none;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: var(--pico-background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.lepp-container.show {
    display: block;
}

.lepp-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lepp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
}

.custom-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    filter: grayscale(100%);
}

.custom-btn:hover {
    filter: grayscale(0%);
}

.target-date {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
}